:host {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    right: 0;

    text-align: center;
    padding: 12px;
    background: #fffefc;
    border-bottom: 4px solid #ccc;

    transform: translate3d( 0, -100%, 0 );
    -webkit-transform: translate3d( 0, -100%, 0 );
}

::content .transparent,
:host .transparent {
    opacity: 0;
    pointer-events: none;
}

:host .hidden {
    display: none;
}

:host .disable {
    pointer-events: none;
}

:host #container {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
